---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: true
AlignConsecutiveAssignments: true
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
